<div class="w-full px-20 py-5 flex flex-wrap">
    <form [formGroup]="registroProducto" (ngSubmit)="onSubmit()" class="w-full" enctype="multipart/form-data">
        <div class="w-full flex justify-between">
            <div class="w-4/6 px-3">
                <div class="w-full">
                    <input class="px-3 py-1 my-2 w-full rounded-sm border h-10  border-gray-800 shadow-inner shadow-gray-300" type="text" name="nombre" placeholder="Nombre" formControlName="nombre">
                </div>
                <div class="w-full flex justify-between flex-wrap my-3 bg-slate-50 py-5 px-20">
                    <textarea class="flex justify-start align-top px-3 py-1 my-2 w-full rounded-sm border h-80  border-gray-800 shadow-inner shadow-gray-300"  name="descL" placeholder="Escribe la descripción larga de tu producto" formControlName="descL"></textarea>
                    <input class="px-3 py-1 my-2 w-full rounded-sm border h-10  border-gray-800 shadow-inner shadow-gray-300" type="text" name="descC" placeholder="Escribe la descripción corta de tu producto" formControlName="descC">
                    <input class="px-3 py-1 my-2 w-6/12 rounded-sm border h-10  border-gray-800 shadow-inner shadow-gray-300" type="text" name="categoria" placeholder="Categorias" formControlName="categoria">
                    <input class="px-3 py-1 my-2 w-5/12 rounded-sm border h-10  border-gray-800 shadow-inner shadow-gray-300" type="number" name="precio" placeholder="Precio" formControlName="precio">
                </div>
            </div>
            <div class="w-2/6 px-3">
                <div class="w-full my-3 bg-slate-50 p-3">
                    <input class="py-1 my-2 w-full flex justify-center text-center" type="file" (change)="onFileChange($event)" name="foto" accept="image/*" formControlName="foto">
                    <div *ngIf="advertencia != ''">
                        {{advertencia}}
                    </div>
                    <div class="flex flex-wrap justify-center">
                        <input class="py-2 px-5 my-2 mx-2 border-2 border-yellow-400 bg-transparent text-yellow-400 rounded transition-all hover:text-white font-bold text-lg hover:bg-yellow-400 active:bg-yellow-600 active:scale-95" type="submit" value="Guardar borrador" (click)="chageStatus('0')">
                        <input class="py-2 px-5 my-2 mx-2 border-2 border-yellow-400 bg-transparent text-yellow-400 rounded transition-all hover:text-white font-bold text-lg hover:bg-yellow-400 active:bg-yellow-600 active:scale-95" type="submit" value="Publicar" (click)="chageStatus('1')">
                    </div>
                </div>
                
            </div>
        </div>
        
    </form>
</div>

