<div class="w-full px-20 py-5 flex flex-wrap">
    <form (ngSubmit)="OnSubmit()" class="w-full" action="">
        <div class="w-full flex flex-wrap justify-between">
            <input class="px-3 py-1 my-2 w-full rounded-lg border  border-gray-500 shadow-inner shadow-gray-300" type="text" name="nombre" placeholder="Nombre" [(ngModel)]="dataOrden.nombre">
            <input class="px-3 py-1 my-2 w-full rounded-lg border  border-gray-500 shadow-inner shadow-gray-300" type="email" name="correo" placeholder="Correo" [(ngModel)]="dataOrden.correo">
            <h5 class="w-full">Dirección de Envio</h5>
            <input class="px-3 py-1 my-2 w-5/12 rounded-lg border border-gray-500 shadow-inner shadow-gray-300" type="text" name="estado" placeholder="Estado" [(ngModel)]="estado">
            <input class="px-3 py-1 my-2 w-3/6 rounded-lg border border-gray-500 shadow-inner shadow-gray-300" type="text" name="ciudad" placeholder="Ciudad" [(ngModel)]="ciudad">
            <input class="px-3 py-1 my-2 w-5/12 rounded-lg border border-gray-500 shadow-inner shadow-gray-300" type="text" name="colonia" placeholder="Colonia" [(ngModel)]="colonia">
            <input class="px-3 py-1 my-2 w-3/6 rounded-lg border border-gray-500 shadow-inner shadow-gray-300" type="text" name="calle" placeholder="Calle" [(ngModel)]="calle">
            <input class="px-3 py-1 my-2 w-4/12 rounded-lg border border-gray-500 shadow-inner shadow-gray-300" type="text" name="numeroExt" placeholder="Número Ext" [(ngModel)]="numExt">
            <input class="px-3 py-1 my-2 w-4/12 rounded-lg border border-gray-500 shadow-inner shadow-gray-300" type="text" name="numeroInt" placeholder="Número Int" [(ngModel)]="numInt">
            <input class="px-3 py-1 my-2 w-3/12 rounded-lg border border-gray-500 shadow-inner shadow-gray-300" type="text" name="CP" placeholder="Código Postal" [(ngModel)]="cp">
            <input class="px-3 py-1 my-2 w-5/12 rounded-lg border border-gray-500 shadow-inner shadow-gray-300" type="tel" name="telefono" placeholder="Teléfono" [(ngModel)]="dataOrden.telefono">
            <select class="w-full py-1 my-2 px-2 bg-transparent border border-yellow-400 rounded-lg" name="estatus" id="estatus" [(ngModel)]="dataOrden.estatus">
                <option value="">-</option>
                <option value="0">Cancelado</option>
                <option value="1">En proceso</option>
                <option value="2">En Envio</option>
                <option value="3">Entregado</option>
            </select>
            <input class="py-2 px-5 my-2 mx-2 border-2 border-yellow-400 bg-transparent text-yellow-400 rounded transition-all hover:text-white font-bold text-lg hover:bg-yellow-400 active:bg-yellow-600 active:scale-95" type="submit" value="Editar Orden">
        </div>
    </form>
</div>
