<div class="w-full px-20 py-5 flex flex-wrap">
    <form [formGroup]="formOrden" (ngSubmit)="agregarOrden()" class="w-7/12" action="">
        <div class="w-full flex flex-wrap justify-between">
            <input class="px-3 py-1 my-2 w-full rounded-lg border  border-gray-500 shadow-inner shadow-gray-300" type="text" name="nombre" placeholder="Nombre" formControlName="nombre">
            <input class="px-3 py-1 my-2 w-full rounded-lg border  border-gray-500 shadow-inner shadow-gray-300" type="email" name="correo" placeholder="Correo" formControlName="correo">
            <h5 class="w-full">Dirección de Envio</h5>
            <input class="px-3 py-1 my-2 w-5/12 rounded-lg border border-gray-500 shadow-inner shadow-gray-300" type="text" name="estado" placeholder="Estado" formControlName="estado">
            <input class="px-3 py-1 my-2 w-3/6 rounded-lg border border-gray-500 shadow-inner shadow-gray-300" type="text" name="ciudad" placeholder="Ciudad" formControlName="ciudad">
            <input class="px-3 py-1 my-2 w-5/12 rounded-lg border border-gray-500 shadow-inner shadow-gray-300" type="text" name="colonia" placeholder="Colonia" formControlName="colonia">
            <input class="px-3 py-1 my-2 w-3/6 rounded-lg border border-gray-500 shadow-inner shadow-gray-300" type="text" name="calle" placeholder="Calle" formControlName="calle">
            <input class="px-3 py-1 my-2 w-4/12 rounded-lg border border-gray-500 shadow-inner shadow-gray-300" type="text" name="numeroExt" placeholder="Número Ext" formControlName="numExt">
            <input class="px-3 py-1 my-2 w-4/12 rounded-lg border border-gray-500 shadow-inner shadow-gray-300" type="text" name="numeroInt" placeholder="Número Int" formControlName="numInt">
            <input class="px-3 py-1 my-2 w-3/12 rounded-lg border border-gray-500 shadow-inner shadow-gray-300" type="text" name="CP" placeholder="Código Postal" formControlName="cp">
            <input class="px-3 py-1 my-2 w-5/12 rounded-lg border border-gray-500 shadow-inner shadow-gray-300" type="tel" name="telefono" placeholder="Teléfono" formControlName="telefono">
            <select class="w-full py-1 my-2 px-2 bg-transparent border border-yellow-400 rounded-lg" #selectElement (change)="agregarProducto(selectElement.value, 1)" name="productos" id="productos">
                <option value="0">-</option>
                <option *ngFor="let producto of listaProductos" [value]="producto.idProducto">{{producto.nombre}}</option>
            </select>
            <select class="w-full py-1 my-2 px-2 bg-transparent border border-yellow-400 rounded-lg" name="estatus" id="estatus" formControlName="estatus">
                <option value="">-</option>
                <option value="0">Cancelado</option>
                <option value="1">En proceso</option>
                <option value="2">En Envio</option>
                <option value="3">Entregado</option>
            </select>
            <div *ngIf="advertencia!=''" class="w-full">
                {{advertencia}}
            </div>
            <input class="py-2 px-5 my-2 mx-2 border-2 border-yellow-400 bg-transparent text-yellow-400 rounded transition-all hover:text-white font-bold text-lg hover:bg-yellow-400 active:bg-yellow-600 active:scale-95" type="submit" value="Guardar Orden">
        </div>
    </form>
    <div class="w-5/12 py-10 flex flex-wrap justify-center">
        <div class="w-10/12 border border-gray-500 rounded-lg py-2 px-4 h-fit">
            <div class="w-full">
                <h5 class="font-black">Productos</h5>
                <div *ngFor="let producto of selectProductos" class="ms-4">
                    <div class="w-full font-bold flex justify-between"><div>{{producto.nombre}}<span class="font-thin">x{{producto.cantidad}}</span></div> <span class="font-normal">{{producto.subtotal | currency}}</span></div>
                </div>
            </div>
            <div class="w-full">
                <div class="w-full">
                    <div class="w-full font-bold flex justify-between">Regalo servicio <span class="font-normal">{{servicio | currency}}</span></div>
                </div>
            </div>
            <div class="w-full">
                <div>
                    <div class="w-full font-bold flex justify-between">Envío <span class="font-normal">{{entrega | currency}}</span></div>
                </div>
            </div>
            <div class="w-full">
                <div>
                    <div class="w-full font-bold flex justify-between">Total <span class="font-normal">{{total | currency}}</span></div>
                </div>
            </div>
        </div>
    </div>
</div>
