<div class="w-full px-20 py-5 flex flex-wrap">
    <form (ngSubmit)="onSubmit()" class="w-full" enctype="multipart/form-data">
        <div class="w-full flex justify-between">
            <div class="w-4/6 px-3">
                <div class="w-full">
                    <input class="px-3 py-1 my-2 w-full rounded-sm border h-10  border-gray-800 shadow-inner shadow-gray-300" type="text" name="nombre" placeholder="Nombre" [(ngModel)]="dataProducto.nombre">
                </div>
                <div class="w-full flex justify-between flex-wrap my-3 bg-slate-50 py-5 px-20">
                    <textarea class="flex justify-start align-top px-3 py-1 my-2 w-full rounded-sm border h-80  border-gray-800 shadow-inner shadow-gray-300"  name="descL" placeholder="Escribe la descripción larga de tu producto" [(ngModel)]="dataProducto.descripcionLarga"></textarea>
                    <input class="px-3 py-1 my-2 w-full rounded-sm border h-10  border-gray-800 shadow-inner shadow-gray-300" type="text" name="descC" placeholder="Escribe la descripción corta de tu producto" [(ngModel)]="dataProducto.descripcionCorta">
                    <input class="px-3 py-1 my-2 w-6/12 rounded-sm border h-10  border-gray-800 shadow-inner shadow-gray-300" type="text" name="categoria" placeholder="Categorias" [(ngModel)]="dataProducto.categoria">
                    <input class="px-3 py-1 my-2 w-5/12 rounded-sm border h-10  border-gray-800 shadow-inner shadow-gray-300" type="number" name="precio" placeholder="Precio" [(ngModel)]="dataProducto.precio">
                </div>
            </div>
            <div class="w-2/6 px-3">
                <div class="w-full my-3 bg-slate-50 p-3">
                    <img [src]="'http://127.0.0.1:5000/'+dataProducto.foto" alt="">
                    <input class="py-1 my-2 w-full flex justify-center text-center" type="file" (change)="onFileChange($event)" name="foto" accept="image/*" >
                    <div>Fecha de creacion: {{dataProducto.fechaCreacion}}</div>
                    <div>Estatus: {{dataProducto.estatus}}</div>
                    <div *ngIf="advertencia != ''">
                        {{advertencia}}
                    </div>
                    <div class="grid grid-cols-2">
                        <input class="py-2 px-5 my-2 mx-2 border-2 border-yellow-400 bg-transparent text-yellow-400 rounded transition-all hover:text-white font-bold text-lg hover:bg-yellow-400 active:bg-yellow-600 active:scale-95" type="submit" value="Guardar borrador" (click)="chageStatus('0')">
                        <input class="py-2 px-5 my-2 mx-2 border-2 border-yellow-400 bg-transparent text-yellow-400 rounded transition-all hover:text-white font-bold text-lg hover:bg-yellow-400 active:bg-yellow-600 active:scale-95" type="submit" value="Actualizar" (click)="chageStatus('1')">
                        <input *ngIf="!botonBorrar" class="py-2 px-5 my-2 mx-2 border-2 border-yellow-400 bg-transparent text-yellow-400 rounded transition-all hover:text-white font-bold text-lg hover:bg-yellow-400 active:bg-yellow-600 active:scale-95" type="submit" value="Papelera" (click)="chageStatus('2')">
                        <input *ngIf="botonBorrar" class="py-2 px-5 my-2 mx-2 border-2 border-yellow-400 bg-transparent text-yellow-400 rounded transition-all hover:text-white font-bold text-lg hover:bg-yellow-400 active:bg-yellow-600 active:scale-95" type="submit" value="Eliminar" (click)="eliminarProducto()">
                    </div>
                </div>
                
            </div>
        </div>
        
    </form>
</div>

